@tailwind base;
@tailwind components;
@tailwind utilities;

/* .login,
.image {
  min-height: 100vh;
} */

@layer components {
  .links {
    @apply px-8 
      py-2
      border 
      block
      hover:border-[#242424]
      border-stone-800
      rounded-full
      uppercase
      text-[12.5px]
      tracking-widest
      text-gray-100
      transition-all
      ease-in-out 
      delay-75
      hover:scale-105
      hover:hover:text-[#fafafa] 
      hover:border-[#fafafa]/40 
      duration-300
      hover:-translate-y-0
      p-0
      max-h-10
      my-auto;
  }
  .navbar-button-mobile {
    @apply uppercase
      text-neutral-100
      cursor-pointer
      text-sm
      text-start
      tracking-widest
      hover:text-[#fafafa]/40;
  }
  .sign-text-inputs {
    @apply transition
    duration-300
    bg-white 
    border
    border-gray-200
    hover:border
    hover:border-gray-400
    text-gray-900 
    text-[17px] 
    w-full 
    placeholder-gray-400
    rounded-[30px]
    h-[45px]
    px-5
    shadow-md 
    focus:outline-none;
  }
}

* {
  font-family: "Ubuntu";
}

.tooltip {
  position: relative;
  position: relative;
  display: inline-block;
  display: inline-block;
  --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
  text-align: center;
  --tooltip-tail: 3px;
  --tooltip-color: #363636;
  --tooltip-text-color: hsl(var(--nc));
  --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
}

.tooltip:before {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  content: var(--tw-content);
  --tw-content: attr(data-tip);
  max-width: 20rem /* 320px */;
  border-radius: 0.25rem /* 4px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
  font-size: 0.75rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  background-color: var(--tooltip-color);
  color: var(--tooltip-text-color);
  width: max-content;
}

.tooltip:before,
.tooltip-top:before {
  transform: translateX(-50%);
  top: auto;
  left: 50%;
  right: auto;
  bottom: var(--tooltip-offset);
}

.tooltip:before,
.tooltip:after {
  opacity: 0;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-delay: 100ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip:before,
.tooltip:after {
  opacity: 0;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-delay: 100ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip:after {
  position: absolute;
  position: absolute;
  content: "";
  border-style: solid;
  border-width: var(--tooltip-tail, 0);
  width: 0;
  height: 0;
  display: block;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  transition-delay: 75ms;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  transition-delay: 75ms;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  transition-delay: 75ms;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  transition-delay: 75ms;
}

.tooltip:not([data-tip]):hover:before,
.tooltip:not([data-tip]):hover:after {
  visibility: hidden;
  opacity: 0;
}

.tooltip:not([data-tip]):hover:before,
.tooltip:not([data-tip]):hover:after {
  visibility: hidden;
  opacity: 0;
}

.tooltip:after,
.tooltip-top:after {
  transform: translateX(-50%);
  border-color: var(--tooltip-color) transparent transparent transparent;
  top: auto;
  left: 50%;
  right: auto;
  bottom: var(--tooltip-tail-offset);
}

.bg-image {
  background-image: url("https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg");
  background-size: cover;
  background-position: center center;
}