.colored-toast.swal2-icon-success {
    background-color: rgb(31 41 55) !important;
    @media only screen and (max-device-width: 640px) {
      width: 170px !important;
      font-size: 11px;
    };
}

.colored-toast.swal2-icon-error {
    background-color: rgb(172, 8, 8) !important;
    @media only screen and (max-device-width: 640px) {
        width: 170px !important;
        font-size: 11px;
    };
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    @media only screen and (max-device-width: 640px) {
        width: 170px !important;
        font-size: 11px;
    };
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
    @media only screen and (max-device-width: 640px) {
        width: 170px !important;
        font-size: 11px;
    };
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
    @media only screen and (max-device-width: 640px) {
        width: 170px !important;
        font-size: 11px;
    };
}

.colored-toast .swal2-title {
    color: rgb(229, 231, 235);
    font-weight: 400 !important;
    font-family: 'Montserrat' !important;
}

.colored-toast .swal2-close {
    color: rgb(229, 231, 235);
}

.colored-toast .swal2-html-container {
    color: rgb(229, 231, 235);
}