.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    @media only screen and (max-device-width: 640px) {
        width: 200px !important;
        font-size: 12px;
    };
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
    @media only screen and (max-device-width: 640px) {
        width: 200px !important;
        font-size: 12px;
    };
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
    @media only screen and (max-device-width: 640px) {
        width: 200px !important;
        font-size: 12px;
    };
}

.colored-toast .swal2-title {
    font-weight: 400 !important;
    font-family: 'Montserrat' !important;
}

.colored-toast .swal2-close {
    color: rgb(229, 231, 235);
}

.colored-toast .swal2-html-container {
    color: rgb(229, 231, 235);
}