.a-class-with-black-text-set-as-important-light{
    color: #000;
    background-color: #fff !important;
}

#light {
    background-color: #edede9 !important;
} 

#light .customNav{
    background-color: #1976d2 !important;
    /* color: ; */
} 

#light .customCard {
    background-color: #e5e5e5 !important;
    color: #000;
}

#light .customButton{
    color: #fff;
    background-color: #1976d2 !important;
    border-color: #1976d2;
} 


#light .customDial {
    background-color: #1976d2 !important;
    color: white;
}

#light .MuiSpeedDial-fab {
    background-color: #1976d2 !important;
    color: white;
}

#light .navbar-brand {
    background-color: #1976d2 !important;
}